.JobCard {
  width: 70%;
  padding: .5rem;
  background-color: white;
  text-align: left;
  margin: .5em auto;
  color: black;
  line-height: 10pt;
  padding-top: 0;
}

.JobCard h5 {
  padding-top: 5px;
}

.JobCard p {
  font-size: small;
}

.JobCard-btn-div {
  display: flex;
  justify-content: flex-end;
}

.JobCard button {
  width: 8%;
  background-color: white;
  color: purple;
  padding: 5px;
  border: 1px solid purple;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.JobCard button:hover {
  opacity: 80%;
}