main {
  width: 100vw;
  /* display: flex; */
  padding-top: 5vh;
  padding-left: 3vh;
  height: calc(100vh - 56px); /* router view - navbar height */
  overflow: scroll;
  color: white;
  background-image: url('background.jpg');
  background-size: cover;
}